@use '../../../App.scss' as login;

header {
  display: none !important ;
}
.login-wrap {
  width: 100%;
  height: 100vh;
  @include login.flex(end, start, 0);
  background: url('../../../../public/assets/images/static/login_bg.jpg');

  .login-container {
    width: 35%;
    height: 100%;
    @include login.flex(center, center, 0);
    flex-direction: column;
    background-color: #ffffff;
    margin-right: 14%;
    overflow: hidden;
    min-width: 600px;
  }

  .login-inner {
    width: 74%;
    margin-top: 120px;
    margin-bottom: 60px;
    overflow-y: auto;
    overscroll-behavior: contain;

    &::-webkit-scrollbar {
      display: none;
    }
  }

  h2 {
    @include login.font(5.2rem, 500, #000);
    margin-bottom: 16px;
  }

  .subTitle {
    @include login.font(1.6rem, 400, #000);
    line-height: 1;
  }

  .login-input {
    margin-top: 50px;

    width: 100%;

    form {
      width: 100%;
      @include login.flex(start, start, 30px);
      flex-direction: column;
      margin-bottom: 30px;
    }

    input {
      width: 100%;
      padding-bottom: 16px;
      border-bottom: 2px solid #000;
      @include login.font(1.6rem, 400, #888);

      &::placeholder {
        @include login.font(1.6rem, 400, #888);
      }
      &:focus {
        &::placeholder {
          color: #fff;
        }
      }
    }

    .helf {
      width: 100%;
      @include login.flex(space-between, end, 0);
      @include login.font(1.4rem, 400, #333);

      .link {
        text-decoration: underline;
        line-height: normal;
      }
    }

    .button-wrap {
      margin: 30px 0 40px 0;
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      button {
        width: 100%;
        aspect-ratio: 488/60;
        border: 1px solid #000;
        @include login.font(1.6rem, 600, #000);
      }
      .btnLogin {
        background-color: #000;
        color: #fff;
      }
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 12px;
      width: 100%;

      li {
        @include login.font(1.4rem, 400, #333);
        @include login.flex(start, end, 8px);

        .icon {
          aspect-ratio: 1/1;
          height: 100%;
          border: 1px solid blue;
          display: inline-block;
        }
      }
    }
  }
}
