@use '../../../App.scss' as main;

.column-slide {
  aspect-ratio: 240/900;

  .swiper {
    height: 100%;
    overflow: hidden;
  }

  .swiper-wrapper {
    transition-timing-function: linear;
  }

  .swiper-slide {
    width: 100%;
    aspect-ratio: 240/500;
    @include main.flex(center, center, 0);
    position: relative;

    &:hover::before {
      opacity: 0.6;
    }

    &::before {
      background-color: rgba(0, 0, 0, 0.6);
      display: inline-block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include main.flex(center, center, 0);
      @include main.font(2rem, 500, #fff);
      opacity: 0;
    }
  }
}
