@use '../../../App.scss' as main;

.main {
  .newItem {
    @include main.flex(center, stretch, 10%);
    aspect-ratio: 1440/980;
  }

  .fw-collection {
    width: 47%;
    aspect-ratio: 684/880;
    overflow: hidden;
    margin: 60px 0;

    .swiper {
      .swiper-wrapper {
        width: 400%;
        @include main.flex(start, center, 0);
      }
      .swiper-slide {
        width: 100%;
        flex-grow: 1;
      }
    }
  }
}
