@keyframes disPlay {
  100% {
    display: none;
  }
}

//TODO 미우미우 텍스트 라인 베너
@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes bannerScroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes bannerScrollY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-50%);
  }
}

@keyframes bannerScrollReturnY {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(50%);
  }
}

@keyframes logo {
  0% {
    width: 600px;
    top: 50%;
  }

  80% {
    width: 600px;
    top: 50%;
  }

  100% {
    width: 150px;
    top: 24px;
  }
}

@keyframes fixed {
  0% {
    top: 0;
  }

  100% {
    top: -100%;
  }
}
