@use '../../../App.scss' as main;
@use './keyframes.scss' as line;

.intro {
  .poto-box {
    width: 100%;

    aspect-ratio: 1920/880;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    @include main.flex(center, center, 0);

    strong {
      font-size: 4vw;
      color: #fff;
      font-family: 'Libre Baskerville';
    }
  }
}
button {
  border: 1px solid blue;
}
