@use '../../../App.scss' as main;
@use './keyframes.scss' as line;

.SeasonCollection {
  background-color: #400c2b;
  display: flex;
  flex-direction: column;
  padding: 150px 0;

  .inner {
    @include main.flex(space-btween, start, 0);

    .left-container {
      flex-grow: 1;
      span {
        @include main.font(1.4rem, 400, #fff);
      }

      h2 {
        font-family: 'Libre Baskerville';
        @include main.font(4rem, 700, #fff);
        text-transform: uppercase;
        margin-top: 40px;
      }
    }
    .right-container {
      width: 42%;
      aspect-ratio: 800/500;
    }
  }

  .bottomSection {
    margin-top: 80px;
    display: flex;
    gap: 24px;
    .item {
      width: 18%;
      aspect-ratio: 330/206;
    }
  }
}
