@use '../../../App.scss' as sp;

.speclalCol-wrap {
  .inner {
    padding: 100px 0;
    h2 {
      font-family: 'Libre Baskerville';
      @include sp.font(3rem, 700 $base);
      line-height: 44px;
      text-align: center;
    }
    .speclal-item {
      padding-top: 60px;
      @include sp.flex(center, center, 24px);
      .speclal-item-box {
        aspect-ratio: 708/708;
        width: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        @include sp.flex(flex-start, end, 24px);
        .text-wrap {
          margin: 0 0 60px 50px;
          width: fit-content;
          display: flex;
          flex-direction: column;
          align-items: flex-start;
        }
        .sp-text1,
        .sp-text2 {
          font-family: 'Libre Baskerville';
          @include sp.font(3.6rem, 700, #fff);
          line-height: 60px;
          background-color: $base;
          display: inline-block;
          padding: 0 12px;
        }

        .sp-text2 {
          margin-top: 4px;
        }
      }
    }
  }
}
