@use '../../App.scss' as main;

.main {
  .newItem {
    @include main.flex(center, center, 142px);
  }

  .fw-collection {
    width: 684px;
    height: 880px;
    overflow: hidden;
    border: 1px solid red;
    margin: 60px 0;

    .swiper {
      .swiper-wrapper {
        width: 400%;
        @include main.flex(start, center, 0);
      }
      .swiper-slide {
        width: 100%;
        flex-grow: 1;

        .new-container {
          width: 100%;
          position: relative;

          p {
            display: flex;
            justify-content: center;
            align-items: center;
            img {
              max-width: 130%;
            }
          }

          .gradient-wrap {
            @include main.flex(end, center, 0);
            position: absolute;
            bottom: 0;
            flex-direction: column;
            background: linear-gradient(180deg, rgba(0, 0, 0, 0) 2.66%, rgba(0, 0, 0, 0.5) 100%);
            width: 100%;
            height: 60%;
            padding: 0 60px 60px 60px;
            user-select: none;

            span {
              @include main.font(1.4rem, 700, #fff);
              font-family: 'Libre Baskerville';
              line-height: 1;
              text-align: center;
              margin-bottom: 16px;
            }

            h2 {
              @include main.font(4rem, 600, #fff);
              margin-bottom: 30px;
            }

            .link {
              border: 1px solid #fff;
              @include main.font(1.8rem, 700, #fff);
              @include main.flex(center, center, 0);
              aspect-ratio: 300/60;
              text-align: center;
              padding: 17px 78px;

              &:hover {
                border: 1px solid #000;
                background-color: #000;
              }
            }
          }
        }

        &.swiper-slide-active .new-container {
          z-index: 1;
        }
      }
    }
  }

  .column-slide {
    width: 200px;
    height: 100%;
  }
}
