@use "../App.scss" as b;

.CousLetter-wrap {
  .inner {
    padding: 78px 0;
    .box {
      @include b.flex(center, center, 0);
      .boxlayout {
        @include b.flex(center, center, 0);
        flex-direction: column;
        width: 50%;
        aspect-ratio: 720/230;
        

        &:first-child{
            background-color: #F3F3F3;
        }

        &:last-child{
            background-color: #FDF3ED;
        }
        .title{
            @include b.font(1.4rem, 400 ,#888);
            padding-bottom: 12px;
        }
        .sub-title{
            @include b.font(2.2rem, 500 #000);
            text-align: center;
            line-height: 32px;
        }
      }
    }
  }
}
