@use '../App.scss' as main;
@use './keyframes.scss' as key;

.intro {
  width: 100vw;
  height: 100vh;
  @include main.flex(center, center, null);
  overflow: hidden;
  perspective: 1000px;
  max-width: 1920px;
  margin: 0 auto;

  .logo-wrapper {
    width: 600px;
    height: auto;
    transform-style: preserve-3d;
    position: relative;
    animation: blur 1s 9s forwards;
    backface-visibility: hidden;

    img {
      width: 100%;
      display: block;
    }
  }

  .dotte-wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    gap: 0.2%;
    align-items: center;
    justify-items: center;

    .dotte {
      width: 3.8%;
      aspect-ratio: 1 / 1;
      border-radius: 50%;
      background: repeating-linear-gradient(45deg, #eee, #efefef 1px, #ccc 2px, #ddd 3px);
      box-shadow: inset 0 0 2px #fff5, 0 0 1px #0003;
      background-blend-mode: overlay;
      animation: pulseColor 8s forwards;
      backface-visibility: hidden;

      // delay 클래스를 반복문으로 처리 가능 (Sass loop 사용 시)
      @for $i from 0 through 24 {
        &.delay-#{$i} {
          animation-delay: #{$i * 0.1}s;
        }
      }
    }
  }
}
button {
  border: 1px solid blue;
}
