@use '../../../App.scss' as ep;

.edit-popup-wrap {
  .edit-popup {
    .title-wrap {
      > p {
        @include ep.font(2.2rem, 500, ep.$base);
      }
    }

    .popup-content {
      .input-wrap {
        > p {
          @include ep.font(2rem, 500, ep.$base);
        }

        .lockedName-input {
          input {
            width: 100%;
            border: 1px solid ep.$line;
            border-radius: 4px;
            padding: 16px 40px 16px 16px;
            background-color: #f4f4f4;
            @include ep.font(1.4rem, 400, #888);

            &::placeholder {
              @include ep.font(1.4rem, 400, ep.$text-666);
            }
            .birthday-input {
              .birthday {
                input {
                  width: 100%;
                }
              }
            }
          }
        }

        .lockedBirthday-input {
          input {
            width: 100%;
            border: 1px solid ep.$line;
            border-radius: 4px;
            padding: 16px 40px 16px 16px;
            background-color: #f4f4f4;
            @include ep.font(1.4rem, 400, #888);

            &::placeholder {
              @include ep.font(1.4rem, 400, ep.$text-666);
            }
            .birthday-input {
              .birthday {
                input {
                  width: 100%;
                }
              }
            }
          }
        }
      }

      .button-wrap {
        button {
          flex: 1;
          aspect-ratio: 1/1;
          max-width: 256px;
          height: 5.6rem;
          border: 1px solid ep.$base;
          @include ep.font(1.6rem, 600, ep.$base);
        }
      }
    }
  }
}
