@use '../../../App.scss' as mypage;

.mypage-banner-wrap {
  @include mypage.flex(center, center, 0);
  width: 100%;
  height: 50rem;
  margin-top: 8rem;
  background: url('../../../../public/assets/images/static/mypage-bg.jpg') no-repeat;
  .mypage-banner-inner {
    @include mypage.flex(space-between, center, 0);
    width: 1440px;
    height: 100%;
    .banner-text {
      height: 50rem;
      @include mypage.flex(center, center, 0);
      flex-direction: column;
      > p {
        font-size: 3rem;
        color: #fff;
      }
    }
    .banner-right {
      @include mypage.flex(space-between, center, 0);
      width: 33%;
      border: 1px solid blue;
      .coupon {
        position: relative;
        width: 35%;
        height: 12.4rem;
        // border: 1px solid #fff;
        &::before {
          content: '';
          border: 1px solid yellow;
          position: absolute;
          left: 0;
          top: 0;
          background-color: red;
          filter: blur(40rem);
        }
      }
      .point {
        width: 35%;
        height: 12.4rem;
        border: 1px solid red;
        &::before {
          content: '';
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          filter: blur(10px);
        }
      }
    }
  }
}
