header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
  padding: 2.8rem 4rem;
  background-color: #00000000;
  z-index: 999;

  &.black {
    background-color: $base;
    animation: headerBg 1s ease-in-out;
    animation-fill-mode: forwards;

    .logo {
      animation: LogoFix 0.6s;
      animation-fill-mode: forwards;
    }
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    z-index: 20;

    .menu {
      align-items: center;
      aspect-ratio: 1/1;
      width: 2.4rem;
      height: 2.4rem;
      align-items: center;
      justify-content: center;
    }
    .logo {
      position: absolute;
      width: 20%;
      aspect-ratio: 150/24;
      top: 50vh;
      left: 50%;
      transform: translate(-50%, -50%);

      img {
        width: 100%;
      }
    }
    .header-right {
      .Icon {
        align-items: center;
        width: 2.4rem;
        height: 2.4rem;
        aspect-ratio: 1/1;
        padding: 4px;
      }
      .gnb-list {
        display: flex;
        gap: 30px;

        .user {
          padding: 0;
        }
      }
    }
  }
}
