header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 2400px;
  margin: 0 auto;
  padding: 2.8rem 4rem;
  background-color: transparent;
  z-index: 999;

  &.black {
    background-color: #000;
  }
  .header-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .menu {
      align-items: center;
      aspect-ratio: 1/1;
      width: 2.4rem;
      height: 2.4rem;
      align-items: center;
      justify-content: center;
    }
    .logo {
      // border: 1px solid #fff;
      position: absolute;
      width: 8%;
      aspect-ratio: 150/24;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 100%;
      }
    }
    .header-right {
      .Icon {
        align-items: center;
        width: 2.4rem;
        height: 2.4rem;
        aspect-ratio: 1/1;
        padding: 4px;
      }
      .gnb-list {
        display: flex;
        gap: 30px;

        .user {
          padding: 0;
        }
      }
    }
  }
}
