@mixin img() {
  display: flex;
  aspect-ratio: 257/200;
  // max-width: 100%;
  gap: 2.4rem;

  img {
    // width: 100%;
    height: 100%;
  }
}

@mixin listStyle() {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  ul {
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
  }
}

@mixin fontStyle() {
  .lnb-menus-title {
    font-size: 1.6rem;
    color: #888;
    margin-bottom: 2rem;
  }
  .lnb-sub-menus {
    // border: 1px solid black;
    display: flex;
    flex-direction: column;
    width: 17rem;
    // height: 25rem;
    gap: 1.6rem;
    font-size: 1.4rem;
    font-weight: 400;
  }
}

.lnb-wrap {
  // border: 1px solid blue;
  padding: 5rem 4rem;
  background-color: #fff;
  overflow: hidden;
  visibility: hidden;
  // transition: max-width 0.3s ease-out, visibility 0.3s;

  width: 100%;
  height: 46.4rem;
  // max-height: 46.4rem;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 10;

  &.active {
    visibility: visible;
  }
  .lnb-title {
    display: flex;
    font-size: 1.8rem;
    font-weight: 500;
    gap: 3rem;
    a {
      text-decoration: none;
      &.active {
        text-decoration: underline;
      }
    }
  }

  // .box {
  //   // border: 1px solid red;
  //   flex-grow: 1;
  // }
  .lnb-list {
    // border: 1px solid green;
    margin-top: 5rem;
    // display: flex;
  }
  .lnb-inner {
    display: flex;
  }
}
