@use './lnb.scss' as i;
@use './lnb.scss' as l;
@use './lnb.scss' as f;

.lnb-hi {
  border: 1px solid red;
  display: flex;
  margin-top: 5rem;
}
.lnb-hi-left {
  display: flex;
  gap: 100px;
  @include f.fontStyle();
}
.lnb-hi-col,
.lnb-hi-new,
.lnb-hi-miu {
  @include l.listStyle();
}

.lnb-hi-imgs {
  @include i.img();
  margin-left: 39.6rem;
}
