@use './lnb.scss' as g;

.lnb-hi {
  margin-top: 5rem;
  width: 100%;
  display: flex;
}
.lnb-hi-left {
  display: flex;
  gap: 100px;
  @include g.fontStyle();
}
.lnb-hi-col,
.lnb-hi-new,
.lnb-hi-miu {
  @include g.listStyle();
}

.lnb-hi-imgs {
  @include g.img();
  margin-left: 39.6rem;
}
