@use './lnb.scss' as g;

.lnb-inner {
  display: flex;
  justify-content: space-between;

  .hi {
    gap: 10rem;
  }

  .lnb-left {
    display: flex;
    .lnb-menus {
      @include g.fontStyle;
    }

    .lnb-img {
      // border: 1px solid black;
      img {
        aspect-ratio: 382/257;
      }
    }
  }
  .lnb-right {
    display: flex;
    .lnb-menus {
      @include g.fontStyle;
    }
    .lnb-imgs {
      display: flex;
      gap: 2.4rem;
      p {
        display: none;
        font-size: 1.6rem;
        font-weight: 500;
      }
      li {
        position: relative;
        img {
          aspect-ratio: 200/257;
        }
        &:hover {
          img {
            filter: brightness(0.7);
          }
        }
        &:hover {
          p {
            position: absolute;
            display: block;
            color: white;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
          }
        }
      }
      // &:hover {
      //   p {
      //     position: absolute;
      //     display: block;
      //     color: white;
      //     left: 50%;
      //     top: 50%;
      //     transform: translate(-50%, -50%);
      //   }
      // }
    }
  }
}
