@use './lnb.scss' as header;

.lnb-inner {
  display: flex;
  gap: 38.4rem;

  .hi {
    gap: 10rem;
  }

  .lnb-left {
    display: flex;
    .lnb-menus {
      @include header.fontStyle;
    }

    .lnb-img {
      width: 38.2rem;
      img {
        aspect-ratio: 382/257;
      }
    }
  }
  .lnb-right {
    display: flex;
    .lnb-menus {
      @include header.fontStyle;
    }
    .lnb-imgs {
      display: flex;
      gap: 2.4rem;
      p {
        display: none;
        font-size: 1.6rem;
        font-weight: 500;
      }
      li {
        position: relative;
        width: 20rem;
        img {
          aspect-ratio: 200/257;
        }
      }
      &::before {
        content: attr(data-alt);
        visibility: hidden;
        opacity: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%);
        font-size: 1.6rem;
        font-weight: 500;
        color: #fff;
        z-index: 10;
      }
      &:hover {
        &::before {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}
