@use '../../../App.scss' as ct;

.CartItem {
  @include ct.flex(start, stretch, 0);
  margin-bottom: 20px;
  width: 100%;

  .itemleft-Img {
    width: 24%;
    aspect-ratio: 1/1;
    background-color: #ddd;
  }

  .itemRight {
    width: 76%;
    padding: 40px 50px;

    .top {
      width: 100%;
      @include ct.flex(space-between, center, 0);

      .itemNO {
        @include ct.font(1.4rem, 400, ct.$text-666);
      }
      .icon {
        width: 24px;
        aspect-ratio: 1/1;
        background: url('../../../../public/assets/icon/delete.png');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
      }
    }

    .title {
      @include ct.font(2.2rem, 500, ct.$base);
      @include ct.text-ellipsis();
      margin-top: 30px;
      width: 100%;
    }

    .bottom {
      @include ct.flex(space-between, center, 0);
      margin-top: 60px;

      .countBtn {
        @include ct.flex(start, center, 0);

        button {
          width: 36px;
          aspect-ratio: 1/1;
          border: 1px solid ct.$text-bbb;
          @include ct.flex(center, center, 0);
          @include ct.font(1.4rem, 400, ct.$text-bbb);
        }

        span {
          padding: 0 16px;
          @include ct.font(1.4rem, 400, ct.$base);
        }
      }
      .price {
        @include ct.font(2.2rem, 600, ct.$base);
      }
    }
  }
}
