@use '../../../App.scss' as ct;

.Cart {
  width: 100%;
  @include ct.flex(center, stretch, 0);
  max-width: 2400px;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 40px;

  .left-wrap {
    width: 62.5%;
    padding: 0 60px;

    .top {
      h2 {
        @include ct.font(2.2rem, 600, ct.$base);
        text-align: start;
        span {
          @include ct.font(1.6rem, 400, ct.$text-666);
        }
      }
    }
    .cart-items {
      margin-top: 30px;
    }
  }
}
