@use '../../../App.scss' as g;
.orderCom-wrap {
  height: 108rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .orderCom-img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 17%;
    aspect-ratio: 234/152;
  }
  .orderCom-text {
    @include g.flex(center, center, 0);
    flex-direction: column;
    h2 {
      @include g.font(3rem, 500, g.$base);
    }
    p {
      margin-top: 2rem;
      @include g.font(1.6rem, 400, g.$text-333);
    }
  }
  .OrderCom-move {
    width: 23%;
    height: 6rem;
    margin: 8rem;
    @include g.flex(center, center, 0.5%);
    > div {
      display: flex;
      justify-content: center;
      width: 50%;
      height: 6rem;
      border: 1px solid black;
      > a {
        @include g.font(1.6rem, 600, g.$base);
        @include g.flex(center, center, 0);
        text-align: center;
        width: 100%;
        height: 100%;
      }
    }
    .white {
      &:hover {
        background-color: g.$line-f4;
      }
    }
    .black {
      background-color: g.$base;
      > a {
        color: #fff;
      }
      &:hover {
        background-color: g.$text-333;
      }
    }
  }
}
