@use '../../../App.scss' as ca;

.add-cart {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  position: fixed;
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  background-color: rgba(175, 175, 175, 0.5);
  z-index: 1000;

  .add-cart-wrap {
    width: 40vw;
    height: 100vh;
    background-color: #fff;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateX(0);

    .cartpop-top {
      @include ca.flex(space-between, center, 0);
      border-bottom: 1px solid #e4e4e4;
      padding: 0 30px;
      height: 90px;

      h2 {
        @include ca.font(2.2rem, 500, ca.$base);
      }

      .close-icon {
        cursor: pointer;
        padding: 10px;
      }
    }

    .cartpop-list {
      height: calc(100vh - 120px);
      padding: 40px 30px;
      overflow-x: auto;
      overscroll-behavior: contain;

      // border: 1px solid red;
      .cartItem {
        border-bottom: 1px solid #e4e4e4;
      }
    }

    .cartpop-bottom {
      border-top: 1px solid #e4e4e4;
      padding: 30px;

      .cartpop-title {
        @include ca.flex(space-between, center, 0);
        margin-bottom: 30px;

        h3 {
          @include ca.font(1.8rem, 500, ca.$base);
          span {
            @include ca.font(1.8rem, 400, ca.$text-666);
          }
        }

        p {
          @include ca.font(2rem, 500, ca.$base);
        }
      }
      button {
        width: 100%;

        &:nth-child(2) {
          border: 1px solid ca.$base;
          background-color: #fff;
          color: ca.$base;
        }
        &:nth-child(3) {
          border: 1px solid ca.$base;
          background-color: ca.$base;
          color: #fff;
        }
      }
    }
  }
}
