@use '../../../App.scss' as pd;

.Category1 {
  .sub-title {
    margin-bottom: 150px;
    h3 {
      text-align: center;
      @include pd.font(2rem, 400, pd.$base);
      margin-bottom: 20px;
    }

    p {
      text-align: center;
      @include pd.font(1.6rem, 400, pd.$text-333);
      line-height: 164%;
    }
  }

  .product-list {
    max-width: 2400px;
    margin: 0 auto;
  }
}
