@use '../../../App.scss' as pd;

.ProductNav {
  background-color: #fff;
  margin-bottom: 80px;
  padding: 20px 0;
  position: sticky;
  top: 80px;
  z-index: 998;
  border-bottom: 1px solid pd.$line-ddd;

  .nav-inner {
    width: 1440px;
    @include pd.flex(space-between, center, auto);
    margin: 0 auto;
  }

  ul {
    display: flex;
    gap: 10px;

    li .link {
      padding: 20px;
      @include pd.font(1.6rem, 400, pd.$base);

      &:hover {
        border-bottom: 1px solid pd.$base;
      }
    }
  }

  .button-wrap {
    @include pd.flex(center, center, 10px);

    button {
      @include pd.font(1.4rem, 600, pd.$base);
      padding: 10px 12px;

      &:nth-child(1) {
        border: 1px solid pd.$base;
      }
      &:nth-child(2) {
        border: 1px solid pd.$base;
        background-color: pd.$base;
        color: #fff;
      }
    }
  }
}
