@use '../../../App.scss' as pd;

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  gap: 4px;

  @media (min-width: 1444px) {
    grid-template-columns: repeat(6, minmax(240px, 1fr));
  }

  .banner {
    aspect-ratio: 1/0.6;
    background-color: #555;

    img {
      width: 100%;
    }
  }
  .banner1 {
    grid-column: 1 / 4;
    grid-row: 2/ 3;
  }

  .banner2 {
    grid-column: 4 / 7;
    grid-row: 2/ 3;
  }

  .banner3 {
    grid-column: 1 / 4;
    grid-row: 5/ 6;
  }

  .banner4 {
    grid-column: 4 / 7;
    grid-row: 5/ 6;
  }

  .item {
    aspect-ratio: 447/595;
    position: relative;
    min-width: 240px;

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .my-swiper-button-prev,
    .my-swiper-button-next {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
      background-color: transparent;
      z-index: 10;
      img {
        width: 90%;
      }
    }

    .my-swiper-button-next {
      right: 1rem;
    }

    .my-swiper-button-prev {
      left: 1rem;
    }
  }

  // .item:hover {
  //   outline: 1px solid pd.$base;
  // }

  .product-text-box {
    padding: 30px;

    h3 {
      @include pd.font(2.2rem, 400, pd.$base);
      margin-bottom: 12px;
    }

    p {
      @include pd.font(1.8rem, 400, pd.$text-666);
    }
  }
}
