@use '../../../App.scss' as pd;

h2 {
  @include pd.font(2.2rem, 500, #000);
  text-align: center;
  margin: 0 auto;
}
.product-page {
  max-width: 2400px;
  margin: 0 auto;
  padding-top: 80px;
  h2 {
    @include pd.font(2.2rem, 500, #000);
    text-align: center;
    line-height: 140%;
    margin-top: 80px;
    margin-bottom: 5rem;
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4px;

  .item {
    aspect-ratio: 447/595;
    position: relative;

    .swiper-button-next,
    .swiper-button-prev {
      display: none;
    }

    .my-swiper-button-prev,
    .my-swiper-button-next {
      position: absolute;
      top: 35%;
      transform: translateY(-35%);
      background-color: transparent;
      z-index: 10;
      img {
        width: 90%;
      }
    }

    .my-swiper-button-next {
      right: 1rem;
    }

    .my-swiper-button-prev {
      left: 1rem;
    }
  }

  // .item:hover {
  //   outline: 1px solid pd.$base;
  // }

  .product-text-box {
    padding: 30px;

    h3 {
      @include pd.font(2.2rem, 400, pd.$base);
      margin-bottom: 12px;
    }

    p {
      @include pd.font(1.8rem, 400, pd.$text-666);
    }
  }
}
