@use '../../../App.scss' as pd;

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 4px;
  max-width: 2400px;
  margin: 0 auto;

  // @media (min-width: 1444px) {
  //   grid-template-columns: repeat(6, minmax(240px, 1fr));
  // }

  // .banner {
  //   aspect-ratio: 1/0.6;
  //   background-color: #555;

  //   img {
  //     width: 100%;
  //   }
  // }
  // .banner1 {
  //   grid-column: 1 / 4;
  //   grid-row: 2/ 3;
  // }

  // .banner2 {
  //   grid-column: 4 / 7;
  //   grid-row: 2/ 3;
  // }

  // .banner3 {
  //   grid-column: 1 / 4;
  //   grid-row: 5/ 6;
  // }

  // .banner4 {
  //   grid-column: 4 / 7;
  //   grid-row: 5/ 6;
  // }

  .item {
    aspect-ratio: 447/595;
    position: relative;
    min-width: 240px;
  }

  // .item:hover {
  //   outline: 1px solid pd.$base;
  // }

  .product-text-box {
    padding: 30px 20px;

    h3 {
      @include pd.font(2rem, 400, pd.$base);
      margin-bottom: 12px;
    }

    p {
      @include pd.font(1.6rem, 400, pd.$text-666);
    }
  }
}
