@use '../../../App.scss' as pd;

.ProductDetail-wrap {
  width: 100%;
  padding-top: 80px;

  .ProductDetail-top {
    @include pd.flex(space-between, center, 4%);
  }
  .top-left {
    width: 55%;
    aspect-ratio: 1/1;
    border: 1px solid;
  }

  .top-right {
    flex-grow: 1;
    margin-right: 1.6%;

    .title {
      @include pd.flex(space-between, start, 0);
      border: 1px solid red;
      .tag {
        @include pd.font(1.4rem, 400, pd.$text-666);
        line-height: 1;
      }
      .wish-icon {
        width: 24px;
        aspect-ratio: 24/20;
        background: url('../../../../public/assets/icon/wish.png');
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
    }
    h3 {
      margin-top: 30px;
      @include pd.font(3rem, 600, pd.$base);
    }

    .price {
      margin-top: 16px;
      @include pd.font(2rem, 500, pd.$base);
    }

    .button-wrap {
      margin-top: 40px;

      display: flex;
      flex-direction: column;
      gap: 10px;

      button {
        &:nth-child(1) {
          border: 1px solid pd.$base;
        }
        &:nth-child(2) {
          border: 1px solid pd.$base;
          background-color: pd.$base;
          color: #fff;
        }
      }
    }
  }

  .ProductDetail-bottom {
    margin-top: 140px;

    .top-nav {
      @include pd.flex(space-between, center, auto);
      margin-bottom: 80px;

      ul {
        display: flex;
        gap: 10px;

        li .link {
          padding: 20px;
          @include pd.font(1.6rem, 400, pd.$base);

          &:hover {
            border-bottom: 1px solid pd.$base;
          }
        }
      }

      .button-wrap {
        @include pd.flex(center, center, 10px);

        button {
          @include pd.font(1.4rem, 600, pd.$base);
          padding: 10px 12px;

          &:nth-child(1) {
            border: 1px solid pd.$base;
          }
          &:nth-child(2) {
            border: 1px solid pd.$base;
            background-color: pd.$base;
            color: #fff;
          }
        }
      }
    }
  }
}
