@use '../../../App.scss' as pd;

h2 {
  @include pd.font(2.2rem, 500, #000);
  text-align: center;
  margin: 0 auto;
}
.product-page {
  padding-top: 80px;
  h2 {
    @include pd.font(2.2rem, 500, #000);
    text-align: center;
    line-height: 140%;
    margin-bottom: 5rem;
  }
}

.product-menu {
  @include pd.flex(center, cneter, 0);
  padding-top: 30px;
  .item-menu {
    display: flex;
    gap: 2.4rem;
    li {
      @include pd.font(1.6rem, 400, #333);
      padding-top: 12px;
      text-align: center;
      aspect-ratio: 212/177;
    }
  }
}

.product-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 4px;

  .item {
    aspect-ratio: 447/595;
  }

  .item:hover {
    border: 1px solid pd.$base;
  }

  .product-text-box {
    padding: 30px;

    h3 {
      @include pd.font(2.2rem, 400, pd.$base);
      margin-bottom: 12px;
    }

    p {
      @include pd.font(1.8rem, 400, pd.$text-666);
    }
  }
}
